<!DOCTYPE html>
<html>
<head>
    <title>My Face App</title>
</head>
<body>
    <nav>
      <a href="{{ url_for('dashboard') }}">Dashboard</a> |
      <a href="{{ url_for('live') }}">Live Stream</a> |
      <a href="{{ url_for('recordings') }}">Recordings</a> |
      <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
